body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(217, 255, 0);
}

button {
    background-color: #c8ff00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}